<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]='registerForm'>
    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" required formControlName="firstName"></ion-input>
    </ion-item>
    <small class="text-danger" *ngIf="registerForm.controls['firstName'].errors?.required &&
    registerForm.controls['firstName'].touched">
      This field is required
    </small>
    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" required formControlName="lastName"></ion-input>
    </ion-item>

    <small class="text-danger" *ngIf="registerForm.controls['lastName'].errors?.required &&
    registerForm.controls['lastName'].touched">
      This field is required
    </small>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required formControlName="email"></ion-input>
    </ion-item>

    <small class="text-danger" *ngIf="registerForm.controls['email'].errors?.required &&
    registerForm.controls['email'].touched">
      This field is required
    </small>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
    </ion-item>

    <small class="text-danger" *ngIf="registerForm.controls['password'].errors?.required &&
    registerForm.controls['password'].touched">
      This field is required
    </small>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" [disabled]='registerForm.invalid' (click)="register()"
          (click)="registerForm.reset()">
          Sign Up
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
